{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <!-- User Profiel -->
    <section id="profile">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card box-shadow card-signup">
                        <div class="row g-0">
                            <div class="col-md-4 pb-4 text-center">
                                {% if "placeholder" in profile.image.url %}
                                <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678200052/user_profile_placeholder_wcp5nb.jpg"
                                    class="profile-img my-5" alt="Profile Image Placeholder" />
                                {% else %}
                                <img src="{{ profile.image.url }}" class="profile-img my-5" alt="Profile Image" />
                                {% endif %}
                                <h5><span class="highlight-heading">{{ profile.user }}</span></h5>
                                {% if request.user == profile.user or user.is_superuser %}
                                <a href="{% url 'users:profile_update' pk=profile.pk %}"><i
                                        class="fa-solid fa-pen icon"></i></a>
                                <a data-bs-toggle="modal" href="#deleteProfileModal"><i
                                        class="fa-solid fa-trash icon"></i></a>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4 mt-3">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4" />
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>About</h6>
                                            {% if profile.description == None %}
                                            <p class="text-muted">
                                                About you: <span><i>{{ profile.user }} has not shared a description with
                                                        us, yet.</i></span>
                                            </p>
                                            {% else %}
                                            <p class="text-muted">{{ profile.description }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Member since</h6>
                                            <p class="text-muted">{{ profile.created_on }}</p>
                                        </div>
                                    </div>
                                    <h6>Posts</h6>
                                    <hr class="mt-0 mb-4" />
                                    <div class="row pt-1">
                                        {% if posts %} {% for post in posts %}
                                        <div class="col-md-6 d-flex justify-content-around">
                                            <div class="card post-card light-shadow" style="width: 18rem;">
                                                {% if "placeholder" in post.featured_image.url %}
                                                <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678367075/pexels-leah-kelley-3935702_we1e43.jpg"
                                                    class="card-img-top" alt="{ post.title }}" />
                                                {% else %}
                                                <img src="{{ post.featured_image.url }}" class="card-img-top"
                                                    alt="{{ post.title }}" />
                                                {% endif %}
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ post.title|title}}</h5>
                                                    <p class="card-title">{{ post.content|striptags|truncatechars:200 }}
                                                    </p>
                                                    <a href="{{ post.get_absolute_url }}" class="btn btn-read">Read
                                                        More</a>
                                                    <span class="pt-3"><i class="fa-solid fa-clock"></i>
                                                        {{ post.created_on | timesince }} | <i
                                                            class="fa-solid fa-comments">
                                                            {{ post.num_comments }}</i></span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %} {% else %}
                                        <p>No posts yet.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Delete Profile Modal -->
{% if user.is_authenticated %}
<div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="Delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="heading-underline">Delete Account</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ user }}, are you sure you want to delete your account?</p>
            </div>
            <div class="modal-footer">
                <form method="post"
                    action="{% url 'users:profile_delete' username=request.user.username pk=profile.pk %}">
                    {% csrf_token %} {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}