{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <!-- User Profiel -->
    <section id="profile">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card box-shadow card-signup">
                        <div class="row g-0">
                            <div class="col-md-4 pb-4 text-center">
                                {% if "placeholder" in profile.image.url %}
                                <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678200052/user_profile_placeholder_wcp5nb.jpg"
                                    class="profile-img my-5 mx-2" alt="Profile Image Placeholder" />
                                {% else %}
                                <img src="{{ profile.image.url }}" class="profile-img my-5 mx-2" alt="Profile Image" />
                                {% endif %}
                                <h3><span class="highlight-heading">{{ profile.user }}</span></h3>
                                {% if request.user == profile.user or user.is_superuser %}
                                <a href="{% url 'users:profile_update' pk=profile.pk %}"><i
                                        class="fa-solid fa-pen icon"></i></a>
                                <a data-bs-toggle="modal" href="#deleteProfileModal"><i
                                        class="fa-solid fa-trash icon"></i></a>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4 mt-3">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4" />
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>About</h6>
                                            {% if profile.description == None %}
                                            <p class="text-muted">
                                                About you: <span><i>{{ profile.user }} has not shared a description with
                                                        us, yet.</i></span>
                                            </p>
                                            {% else %}
                                            <p class="text-muted">{{ profile.description }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Member since</h6>
                                            <p class="text-muted">{{ profile.created_on }}</p>
                                        </div>
                                    </div>
                                    <!-- User Posts and Comments -->
                                    {% if request.user == profile.user or user.is_superuser %}
                                    <h6>Activity</h6>
                                    <hr class="mt-0 mb-4" />
                                    <p>
                                        <button class="btn btn-save me-2" id="collapsePostsButton" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapsePosts"
                                            aria-expanded="false" aria-controls="collapsePosts">
                                            Posts
                                        </button>
                                        <button class="btn btn-save" id="collapseCommentsButton" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseComments"
                                            aria-expanded="false" aria-controls="collapseComments">
                                            Comments
                                        </button>
                                    </p>
                                    <div id="collapseParent">
                                        <div class="collapse" id="collapsePosts" data-bs-parent="#collapseParent">
                                            <div class="row pt-1">
                                                {% if posts %}
                                                {% for post in posts %}
                                                <div class="col-md-6 d-flex justify-content-around">
                                                    {% include 'components/list_of_posts.html' %}
                                                </div>
                                                {% endfor %} {% else %}
                                                <p>No posts yet.</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="collapse" id="collapseComments" data-bs-parent="#collapseParent">
                                            {% if comments %}
                                            {% for comment in comments %}
                                            <div class="card p-3 mb-4 comment light-shadow">
                                                <div class="user-comment d-flex flex-row">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <a
                                                            href="{% url 'users:profile_home' username=comment.profile.user.username %}">
                                                            {% if "placeholder" in comment.profile.user.profile.image.url %}
                                                            <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678200052/user_profile_placeholder_wcp5nb.jpg"
                                                                class="profile-img profile-img-small me-2"
                                                                alt="Profile Image Placeholder" />
                                                            {% else %}
                                                            <img src="{{ comment.profile.user.profile.image.url }}"
                                                                alt="{{ comment.name }}"
                                                                class="profile-img profile-img-small me-2" />
                                                            {% endif %}
                                                        </a>
                                                        <p class="text-muted">{{ comment.name|title }} wrote on post: <a
                                                                href="{{ comment.post.get_absolute_url }}"
                                                                class="comment-post-title">{{ comment.post.title|title }}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="mt-3 ms-sm-4">{{ comment.body }}</p>
                                                <small>{{ comment.created_on }}</small>
                                            </div>
                                            {% endfor %}
                                            {% else %}
                                            <p>No comments yet.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% else %}
                                    <!--User Posts-->
                                    <h6>Posts</h6>
                                    <hr class="mt-0 mb-4" />
                                    <div class="row pt-1">
                                        {% if posts %}
                                        {% for post in posts %}
                                        <div class="col-md-6 d-flex justify-content-around">
                                            {% include 'components/list_of_posts.html' %}
                                        </div>
                                        {% endfor %} {% else %}
                                        <p>No posts yet.</p>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Delete Profile Modal -->
{% if user.is_authenticated %}
<div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="Delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="heading-underline">Delete Account</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ user }}, are you sure you want to delete your account?</p>
            </div>
            <div class="modal-footer">
                <form method="post"
                    action="{% url 'users:profile_delete' username=request.user.username pk=profile.pk %}">
                    {% csrf_token %} {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}