{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container">
        <div class="row align-items-center vertical-center box-shadow">
            <div class="col-md-6 d-flex justify-content-center">
                {% if "placeholder" in profile.image.url %}
                <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678200052/user_profile_placeholder_wcp5nb.jpg"
                    class="profile-img" alt="Profile Image Placeholder">
                {% else %}
                <img src="{{ profile.image.url }}" class="profile-img" alt="Profile Image">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="heading-profile heading-underline">User Profile</h2>
                    </div>
                    {% if request.user == profile.user %}
                    <div class="col-md-5">
                        <a href="{% url 'users:profile_update' pk=profile.pk %}"><i
                                class="fa-solid fa-pen icon"></i></a>
                        <a data-bs-toggle="modal" href="#deleteProfileModal"><i class="fa-solid fa-trash icon"></i></a>
                    </div>
                    {% endif %}
                </div>
                <p>Name: {{ profile.user }}</p>
                <p>Email: {{ profile.user.email }}</p>
                {% if profile.description == None %}
                <p>About you: <span><i>Write something about you</i></span></p>
                {% else %}
                <p>About you: {{ profile.description }}</p>
                {% endif %}

            </div>
        </div>
    </div>
</main>
<!-- Delete Profile Modal -->
{% if user.is_authenticated %}
<div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="Delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="heading-underline">Delete Account</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ user }}, are you sure you want to delete your account?</p>
            </div>
            <div class="modal-footer">
                <form method="post"
                    action="{% url 'users:profile_delete' username=request.user.username pk=profile.pk %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}