{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ABOUT SECTION -->
<main>
    <section>
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card box-shadow card-signup">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678351324/about_xgvvs3.webp"
                                    alt="login form" class="img-fluid about-picture light-shadow">
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5">
                                    <h2 class="fw-normal mb-3 pb-3 heading-underline">About Travel Africa</h2>
                                    <p class="mt-3">
                                        Welcome to Travel Africa, a blog dedicated to celebrating the beauty and
                                        diversity of the
                                        African
                                        continent. We are a community of passionate travelers who share a common
                                        love for the sights,
                                        sounds, and experiences that Africa has to offer. Whether you're a seasoned
                                        adventurer or a
                                        first-time visitor, our platform is the perfect place to exchange tips,
                                        insights, and stories
                                        about
                                        your travels.</p>
                                    <hr class="mx-auto">
                                    <p class="">At Travel Africa, we believe that everyone should have the
                                        opportunity to
                                        share
                                        their love for Africa. That's why we've created a platform where you can
                                        register and add your
                                        own
                                        posts, sharing your favorite places, hidden gems, and insider tips with the
                                        wider community. By
                                        joining us, you'll become part of a vibrant network of travelers who are
                                        passionate about
                                        exploring
                                        Africa and experiencing all it has to offer.

                                        We're committed to promoting responsible and sustainable tourism in Africa,
                                        and we believe that
                                        travel can be a force for good in the world. By showcasing the natural
                                        beauty and cultural
                                        richness
                                        of the continent, we hope to inspire others to explore and appreciate
                                        Africa, while also
                                        supporting
                                        local communities and preserving the environment. Join us on this exciting
                                        journey of discovery,
                                        and
                                        let's celebrate the wonders of Africa together!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}