{% extends "base.html" %} {% block content %}
<main>
    <!--Blog Post -->
    <section>
        <div class="container box-shadow post-form">
            <div class="row">
                <div class="col-md-8 d-flex justify-content-center mx-auto">
                    <h1 class="heading-underline mt-2 mb-5">{{ post.title|title }}</h1>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="card post-detail-card">
                            {% if "placeholder" in post.featured_image.url %}
                            <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678367075/pexels-leah-kelley-3935702_we1e43.jpg"
                                class="img-fluid" alt="{ post.title }}">
                            {% else %}
                            <img src="{{ post.featured_image.url }}" class="img-fluid" alt="{{ post.title }}">
                            {% endif %}
                            <table class="table-post-card">
                                <tbody>
                                    <tr>
                                        <td><span class="heading-underline">Country: </span></td>
                                        <td>{{ post.country|capfirst }}</td>
                                    </tr>
                                    <tr>
                                        <td><span class="heading-underline">Author:</span></td>
                                        <td>
                                            {{ post.author|capfirst }} {% if user.is_authenticated %}
                                            <a href="{% url 'users:profile_home' username=post.author.username %}">
                                                {% if "placeholder" in post.author.profile.image.url %}
                                                <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678200052/user_profile_placeholder_wcp5nb.jpg"
                                                    class="profile-img profile-img-small"
                                                    alt="Profile Image Placeholder">
                                                {% else %}
                                                <img src="{{ post.author.profile.image.url }}"
                                                    class="profile-img profile-img-small" alt="{{ post.author }}">
                                                {% endif %}
                                            </a>
                                            {% else %} {% if "placeholder" in post.author.profile.image.url %}
                                            <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678200052/user_profile_placeholder_wcp5nb.jpg"
                                                class="profile-img profile-img-small" alt="Profile Image Placeholder">
                                            {% else %}
                                            <img src="{{ post.author.profile.image.url }}"
                                                class="profile-img profile-img-small" alt="{{ post.author }}">
                                            {% endif %} {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="heading-underline">Region:</span>
                                        </td>
                                        <td>{{ post.regions }}</td>
                                    </tr>
                                    <tr>
                                        <td><i>Create on:</i></td>
                                        <td><i>{{ post.created_on|date:"M d, Y" }}</i></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="d-flex flex-row">
                                                {% if user.is_authenticated %} {% csrf_token %}
                                                <button
                                                    class="btn btn-read like-button d-flex flex-row align-items-center me-2"
                                                    data-post-slug="{{ post.slug }}"
                                                    data-liked="{{ liked|yesno:'true,false' }}">
                                                    {% if not liked %}
                                                    <i class="fa-regular fa-heart"></i>
                                                    {% else %}
                                                    <i class="fa-solid fa-heart"></i>
                                                    {% endif %}
                                                    <span id="likes-count">{{ post.number_of_likes }}</span>
                                                </button>
                                                {% else %}
                                                <button
                                                    class="btn btn-read like-button d-flex flex-row align-items-center"
                                                    disabled>
                                                    <i class="fa-solid fa-heart"></i>
                                                    <span id="likes-count">{{ post.number_of_likes }}</span>
                                                </button>
                                                {% endif %} {% if user.is_authenticated %} {% if post in user.bucketlist.post.all %}
                                                <button type="button" id="add-to-bucketlist-button" class="btn btn-save"
                                                    disabled>
                                                    <span id="bucket-list-text" class="mb-0"><i
                                                            class="fa-solid fa-square-check"></i>&nbsp;Bucket
                                                        List</span>
                                                </button>
                                                {% else %}
                                                <form method="post"
                                                    action="{% url 'add_to_bucketlist' slug=post.slug %}"
                                                    id="add-to-bucketlist-form">
                                                    {% csrf_token %}
                                                    <button type="submit" id="add-to-bucketlist-button"
                                                        class="btn btn-save">
                                                        <span id="bucket-list-text" class="mb-0"><i
                                                                class="fa-solid fa-square-plus"></i>&nbsp;Bucket
                                                            List</span>
                                                    </button>
                                                </form>
                                                {% endif %} {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% if user.is_authenticated and user == post.author or user.is_superuser %}
                            <div class="d-flex flex-row justify-content-center">
                                <a href="{% url 'post_update' post.slug %}" aria-label="Edit Post"><i class="fa-solid fa-pen icon"></i></a>
                                <a data-bs-toggle="modal" href="#deletePostModal" aria-haspopup="true" id="deletePost"  aria-label="Delete Post"><i
                                        class="fa-solid fa-trash icon"></i></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8 summernote-text">
                        <p>
                            {{ post.content|safe }}
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Comments -->
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-12 ps-sm-4 mt-3">
                            <h3 class="heading-underline mb-4">Comments:</h3>
                            {% if comments %} {% for comment in comments %}
                            <div class="card p-3 mb-4 comment light-shadow">
                                <div class="user-comment d-flex flex-row align-items-center">
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'users:profile_home' username=comment.profile.user.username %}">
                                        {% if "placeholder" in comment.profile.user.profile.image.url %}
                                        <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678200052/user_profile_placeholder_wcp5nb.jpg"
                                            class="profile-img profile-img-small me-2"
                                            alt="Profile Image Placeholder">
                                        {% else %}
                                        <img src="{{ comment.profile.user.profile.image.url }}" alt="{{ comment.name }}"
                                            class="profile-img profile-img-small me-2">
                                        {% endif %}
                                    </a>
                                    {% else %} {% if "placeholder" in comment.profile.user.profile.image.url %}
                                    <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678200052/user_profile_placeholder_wcp5nb.jpg"
                                        class="profile-img profile-img-small me-2" alt="Profile Image Placeholder">
                                    {% else %}
                                    <img src="{{ comment.profile.user.profile.image.url }}" alt="{{ comment.name }}"
                                        class="profile-img profile-img-small me-2">
                                    {% endif %} {% endif %}

                                    <p class="text-muted">{{ comment.name|title }} wrote:</p>
                                </div>

                                <p class="mt-3 ms-sm-4">{{ comment.body }}</p>
                                <div class="d-flex flex-row align-items-center delete-comment">
                                    <small>{{ comment.created_on|date:"F j, Y" }}</small>
                                    {% if user.is_authenticated and user == post.author or user.is_superuser %}
                                    <button class="btn" aria-haspopup="true" id="deleteComment" data-bs-toggle="modal"
                                        data-bs-target="#deleteCommentModal{{comment.pk}}" aria-label="Delete Comment">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                            {% empty %}
                            <p>No comments yet.</p>
                            {% endfor %} {% else %}
                            <p>No comments yet.</p>
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                        <div class="col-lg-4 col-md-5 col-sm-12 col-12 ps-sm-5 mt-3">
                            <div class="add-comment">
                                <h3 class="heading-underline mb-4">Add a comment:</h3>
                                <form method="post">
                                    <label for="id_body">
                                    {% csrf_token %} {{ comment_form.as_p }}
                                    <button type="submit" class="btn btn-save">Submit</button>
                                    </label>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Delete Post Modal -->
{% if user.is_authenticated %}
<div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePost" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="heading-underline">Delete Post</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ user|capfirst }}, are you sure you want to delete this post?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'post_delete' post.slug %}">
                    {% csrf_token %} {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                    {% endif %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Delete Comment Modal -->
{% for comment in post.comments.all %}
{% if user.is_authenticated and user == post.author or user.is_superuser %}
<div class="modal fade" id="deleteCommentModal{{comment.pk}}" tabindex="-1" aria-labelledby="deleteComment" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="heading-underline">Delete Comment</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this comment by {{ comment.name }}?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'comment_delete'  pk=comment.pk %}">
                    {% csrf_token %} {% if redirect_field_value %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    {% endif %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endfor %} {% endblock %}