{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<main>
    <!--Password Reset-->
    <section>
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card box-shadow card-signup">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678455433/signin_c311o5.webp"
                                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5">
                                    <h2 class="fw-normal mb-3 pb-3 heading-underline">
                                        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                                    </h2>
                                    {% if token_fail %}
                                    {% url 'account_reset_password' as passwd_reset_url %}
                                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has
                                        already been used. Please request a <a href="{{ passwd_reset_url }}">new
                                            password reset</a>.{% endblocktrans %}</p>
                                    {% else %}
                                    <form method="POST" action="{{ action_url }}">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input type="submit" name="action" class="primaryAction btn btn-dark btn-block"
                                            value="{% trans 'Change Password' %}" />
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}