{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<main>
    <!--Password Reset-->
    <section>
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card box-shadow card-signup">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://res.cloudinary.com/db0ufjm4a/image/upload/v1678455433/signin_c311o5.webp"
                                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5">
                                    <h2 class="fw-normal mb-3 pb-3 heading-underline">{% trans "Password Reset" %}</h2>
                                    {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                    {% endif %}

                                    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please
                                        check your spam folder. Otherwise
                                        contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}