/*--------------- Google fonts ---------------*/
/* Waiting for the Sunrise */
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/*--------------- Custom properties ---------------*/
:root {
    --dark-blue-color: #253558;
    --blue-color: #5c639e;
    --yellow-color: #fbe4a1;
    --skin-color: #fcb395;
    --orange-color: #e48152;
    --white-color: #faebd7;
    --absolute-white-color: #fff;

    --font-title: 'Waiting for the Sunrise', sans-serif;
    --font-body: 'Roboto', sans-serif;
}

/*--------------- General Styles ---------------*/
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    color: var(--blue-color);
    background-image: linear-gradient(to top, #fbe4a1, #fed79b, #ffcb97, #febf95, #fcb395);
}

main {
    height: fit-content;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    font-weight: 900;
}

hr {
    color: var(--orange-color);
    border-width: 0 0 8px;
    border-style: dotted;
    max-width: 50%;
}

.page-container {
    min-height: 100vh;
}

.errorlist {
    list-style-type: none;
    color: var(--orange-color);
    padding: 0;
}

.heading-underline {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--orange-color);
    letter-spacing: 3px;
}

.box-shadow {
    margin-top: 5.5em;
    margin-bottom: 3em;
    background-color: var(--white-color);
    border-radius: 40px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(37, 53, 88, 1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(37, 53, 88, 1);
    box-shadow: 5px 5px 5px 0px rgba(37, 53, 88, 1);
}

.light-shadow {
    box-shadow:
        0px 1.5px 2.2px rgba(0, 0, 0, 0.02),
        0px 3.7px 5.3px rgba(0, 0, 0, 0.028),
        0px 7px 10px rgba(0, 0, 0, 0.035),
        0px 12.5px 17.9px rgba(0, 0, 0, 0.042),
        0px 23.4px 33.4px rgba(0, 0, 0, 0.05),
        0px 56px 80px rgba(0, 0, 0, 0.07);
}

.reset-link,
.comment-post-title {
    color: var(--blue-color);
    text-underline-offset: 3px;
}

.reset-link:hover,
.comment-post-title:hover {
    text-decoration: underline;
    text-decoration-color: var(--orange-color);
}

.asteriskField {
    display: none;
}

.alert ul {
    list-style-type: none;
}

/*=============== Navbar ===============*/
.navbar {
    border-radius: 50px;
    margin: 10px 5px 0;
}

.navbar-before-scroll {
    background-color: #faebd7d6;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar.navbar-before-scroll.navbar-after-scroll {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-before-scroll .nav-link,
.navbar-before-scroll .navbar-toggler-icon {
    color: var(--blue-color);
    letter-spacing: 1.5px;
}

.navbar-after-scroll {
    background-color: var(--white-color);
    box-shadow:
        0px 1.5px 2.2px rgba(0, 0, 0, 0.02),
        0px 3.7px 5.3px rgba(0, 0, 0, 0.028),
        0px 7px 10px rgba(0, 0, 0, 0.035),
        0px 12.5px 17.9px rgba(0, 0, 0, 0.042),
        0px 23.4px 33.4px rgba(0, 0, 0, 0.05),
        0px 56px 80px rgba(0, 0, 0, 0.07);
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-toggler {
    border-radius: 100%;
    border: none;
    background-color: var(--yellow-color);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler i {
    padding: 5px;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--orange-color);
}

.logo {
    border: 2px solid;
    padding: 5px;
    margin: 0 auto;
    border-color: var(--blue-color);
    -webkit-box-shadow: 4px 4px 0px 0px var(--orange-color);
    -moz-box-shadow: 4px 4px 0px 0px var(--orange-color);
    box-shadow: 4px 4px 0px 0px var(--orange-color);
    letter-spacing: 3px;
    font-family: var(--font-title);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.africa-icon {
    color: var(--orange-color);
}

.nav-item {
    list-style: none;
}

.nav-icon:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--orange-color);
}

.nav-item hr {
    max-width: 100%;
    border-width: 0 0 4px;
    margin: .2rem
}

.dropdown-item {
    color: var(--blue-color);
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: var(--white-color);
    color: var(--dark-blue-color);
}

.dropdown-menu {
    background-color: var(--white-color);
}

.profile-img-small {
    max-width: 40px !important;
    max-height: 40px !important;
}

.alert-box {
    position: fixed;
    top: 5em;
    right: 0;
    left: 0;
    z-index: 2;
}


/*=============== Footer ===============*/
.footer {
    background-color: var(--white-color);
    color: var(--blue-color);
}

.footer-text,
.social-text {
    padding: 15px 40px;
}

.footer-text h3,
.social-text h3 {
    padding-bottom: .3rem;
}

.footer-text {
    font-size: large;
}

.copyright {
    font-size: small;
}

.social {
    list-style: none;
}

.social li {
    margin-bottom: .5em;
}

.social a {
    color: var(--blue-color);
    text-decoration: none;
}

.social-icon {
    padding: 8px;
    margin-right: 4px;
    background-color: var(--orange-color);
    border-radius: 50%;
}

/*=============== Homepage ===============*/
.search-results-container {
    min-height: 80vh;
}

/*--------------- Hero section ---------------*/

.bg-setup {
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    z-index: 1;
}

.hero-content {
    padding: 0;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=faebd7f0);
    margin: -2px -6px;
    width: fit-content;
    padding: 3rem 3.5rem;
    position: absolute;
    right: 15%;
    left: 15%;
    text-align: center;
}

.hero-content h1 {
    color: var(--blue-color);
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.6);
    font-size: 60px;
}

.hero-text {
    color: var(--blue-color);
}

.overlay {
    background-color: var(--white-color);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.2;
}

.carousel-bg-1 {
    background-image: url("https://res.cloudinary.com/db0ufjm4a/image/upload/v1677599855/u4molqytglxuzliqtahb.webp");
}

.carousel-bg-2 {
    background-image: url("https://res.cloudinary.com/db0ufjm4a/image/upload/v1677599854/my98c9lcximuhl67hcfs.webp");
}

.carousel-bg-3 {
    background-image: url("https://res.cloudinary.com/db0ufjm4a/image/upload/v1677599854/pf75ukq1s2yrqhm6bywv.webp")
}

.carousel-item {
    height: 100vh;
}

.btn-highlights {
    padding: .8em;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    transition: all .2s ease;
}

.btn-highlights:hover {
    font-size: 110%;
}

/*--------------- Featured section ---------------*/
.img-featured {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: 100% 0;
}

.content .content-img {
    overflow: hidden;
    border-radius: 10px;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.content .content-img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.content .content-img img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    transition: all .9s ease;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
}

.content .content-img img:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.content .content-img:hover .content-post-title h4 {
    color: var(--white-color);
}

.content .col-md-8,
.content .col-md-4 .content-img {
    margin-bottom: 15px;
}

.content .col-md-8 .content-img {
    position: relative;
    height: 100%;
}

.content .col-md-4 .content-img {
    position: relative;
}

.content .content-post-title {
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    color: var(--absolute-white-color);
    padding: 25px;
    background-color: #5c639e94;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*=============== Login ===============*/
.vertical-center {
    min-height: 74vh;
    display: flex;
    align-items: center;
}

.card-signup {
    border-radius: 1rem;
    border: 0;
}

.signup-img {
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
    object-position: 30% 0;
    max-width: 100%;
    height: 100%;
}

/*=============== Profile ===============*/
#profile-update .row {
    padding-left: 1rem;
    padding-right: 1rem;
}

#profile .card-img-top {
    object-fit: cover;
    object-position: 100% 0;
}

#profile .icon {
    padding: 0.6rem;
    font-size: 1.5rem;
}

.profile-img {
    max-height: 300px;
    max-width: 250px;
    clip-path: circle(at center);
}

.icon {
    color: var(--blue-color);
    background-color: #e48153e3;
    border-radius: 50%;
    padding: 8px;
}

.icon:hover {
    background-color: var(--orange-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.icon-save {
    padding-right: 5px;
}

.user-comment p {
    margin-bottom: 0;
}

.highlight-heading {
    background: linear-gradient(120deg, #f5d1b7 0%, #f5d1b7 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
}

/*=============== About ===============*/
.about-picture {
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
    object-position: 30% 0;
}

/*=============== Error Page ===============*/
.error-picture {
    height: 100%;
    border-radius: 0rem 0 1rem 1rem;
    padding: 1rem;
    border-radius: 40px;
}

/*=============== Post List ===============*/
#post-list .card-img-top {
    object-fit: cover;
    object-position: 100% 0;
}

.post-form {
    padding: 2em 1.4em;
}

.post-form .icon {
    padding: 0.6rem;
    font-size: 1.5rem;
}

.post-list-content {
    margin-top: 5.5em;
    margin-bottom: 3em;
    max-width: 100%;
}

.post-card {
    margin-bottom: 1em;
    background-color: var(--white-color);
    border: none;
}

.post-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-read,
.btn-save {
    background-color: var(--orange-color);
    color: var(--absolute-white-color);
}

.btn-read:hover,
.btn-save:hover {
    background-color: #dd7342;
    color: var(--absolute-white-color);
}

.post-detail-list>a {
    margin-right: 1em;
}

.card-img-top {
    height: 10rem;
}

.page-link {
    color: var(--blue-color)
}

.active>.page-link {
    background-color: var(--orange-color);
    border: none;
}

#post-list .bg-secondary,
#profile .bg-secondary {
    background-color: var(--blue-color) !important;
    opacity: .9;
}

/*=============== Post Detail ===============*/
tr td:first-child {
    width: 30%;
}

#likes-count {
    margin: 0 0 0 .3rem;
}

.summernote-editor {
    width: 100%;
}

.summernote-text p {
    color: var(--blue-color) !important;
    font-size: 1.2rem !important;
}

.post-detail-card {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(93, 93, 93, 0.64);
    box-shadow: 0px 0px 10px 1px rgba(93, 93, 93, 0.64);
    border-color: var(--blue-color);
    background-image: linear-gradient(to bottom, #fbe4a1, #fde5af, #fde7bc, #fce9ca, #faebd7);
    padding-bottom: 1rem;
}

.post-detail-list {
    color: var(--blue-color);
    background-color: var(--white-color);
}

.comment {
    border-color: var(--orange-color);
    background-color: #fbe4a187;
}

.post-detail-card .img-fluid {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}

.table-post-card td {
    padding: .5rem .8rem;
}

.post-detail-card .icon {
    margin: .8rem;
}

.input-comment {
    width: 90%;
    max-width: 90%;
    max-height: 30%;
}

.delete-comment button:active {
    border: hidden;
}

/*=============== Bucket List ===============*/

#bucketlist {
    color: var(--blue-color);
}

#bucket-list-text {
    color: var(--absolute-white-color);
}

.bucket-list {
    border-radius: 1rem;
    border: 0;
}

.bucket-list .form-check-label {
    padding: 0.2rem 0 .2rem .6rem;
}

.bucket-list .form-check-label a {
    text-decoration: none;
    color: var(--blue-color);
}

.bucket-list .list-group-item {
    background-color: #fdd99b;
    margin-bottom: 1rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border: none;
    border-radius: inherit;
    transition: all .4s ease;
}

.bucket-list .list-group-item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*=============== Media Queries ===============*/
@media only screen and (max-width: 1000px) {
    .search-box {
        width: 40% !important
    }

    #profile .profile-img {
        max-width: 200px;
    }
}

@media only screen and (max-width: 930px) {
    .search-box {
        width: 30% !important
    }
}


@media only screen and (max-width: 767px) {
    .logo {
        position: relative;
        transform: none;
        left: auto;
    }

    .navbar-collapse {
        padding-left: .8rem;
    }

    .navbar-collapse .login {
        align-items: flex-start !important;
        border-top: 1px solid var(--blue-color);
        padding-top: .2rem;
    }

    .navbar-toggler {
        margin: 5px 0 5px 0;
    }

    .search-box {
        width: auto !important;
        padding-top: .2em;
    }

    #profile .profile-img {
        max-width: 250px;
    }

    .social-text {
        padding: 15px 10px 15px 0px;
    }
}

@media only screen and (max-width: 454px) {
    #profile-update .row {
        padding-left: .4rem;
        padding-right: .4rem;
    }

    .hero-content {
        top: 50%;
    }

    .social span {
        display: none;
    }

    .footer-text {
        font-size: medium;
        padding: 15px 0 15px 20px;

    }
}