<!-- Delete Profile Modal -->
{% if user.is_authenticated %}
<div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfile" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="heading-underline">Delete Account</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ user|title }}, are you sure you want to delete your account?</p>
            </div>
            <div class="modal-footer">
                <form method="post"
                    action="{% url 'users:profile_delete' username=request.user.username pk=profile.pk %}">
                    {% csrf_token %} {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}