{% extends 'base.html' %} {% load static %} {% block content %}
<main>
    <!-- Hero Section -->
    <section id="hero">
        <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item bg-setup carousel-bg-1 active" data-bs-interval="8000">
                    <div class="overlay"></div>
                    <div class="carousel-caption hero-content">
                        <h1 class="heading-underline">Travel Africa</h1>
                        <p class="hero-text">Whether you're a wide-eyed first-timer or a frequent visitor, Africa cannot fail to win your heart.</p>
                        <p class="hero-text">Discover the best places on the continent.</p>
                        <a href="{% url 'post_list' %}" class="btn btn-save btn-highlights mt-4">Explore</a>
                    </div>
                </div>
                <div class="carousel-item bg-setup carousel-bg-2" data-bs-interval="2000">
                    <div class="overlay"></div>
                    <div class="carousel-caption d-md-block hero-content">
                        <h1 class="heading-underline">Travel Africa</h1>
                        <p class="hero-text">Whether you're a wide-eyed first-timer or a frequent visitor, Africa cannot fail to win your heart.</p>
                        <p class="hero-text">Discover the best places on the continent.</p>
                        <a href="{% url 'post_list' %}" class="btn btn-save btn-highlights mt-4">Explore</a>
                    </div>
                </div>
                <div class="carousel-item bg-setup carousel-bg-3" data-bs-interval="2000">
                    <div class="overlay"></div>
                    <div class="carousel-caption d-md-block hero-content">
                        <h1 class="heading-underline">Travel Africa</h1>
                        <p class="hero-text">Whether you're a wide-eyed first-timer or a frequent visitor, Africa cannot fail to win your heart.</p>
                        <p class="hero-text">Discover the best places on the continent.</p>
                        <a href="{% url 'post_list' %}" class="btn btn-save btn-highlights mt-4">Explore</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- Content Feature Section -->
    <section id="content" class="content">
        <div class="container mb-4">
            <h2 class="heading-underline text-center my-5">Highlight</h2>
            <div class="row row-reverse">
                {% for post in post_list %} {% if forloop.counter == 1 %}
                <div class="col-md-8 cl-sm-12">
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <img class="img-featured" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image" />
                            <div class="content-post-title">
                                <h4>{{ post.title|title }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                {% elif forloop.counter == 2 %}
                <div class="col-md-4 cl-sm-6">
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <img class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image" />
                            <div class="content-post-title">
                                <h4>{{ post.title|title }}</h4>
                            </div>
                        </div>
                    </a>
                    {% elif forloop.counter == 3 %}
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <img class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image" />
                            <div class="content-post-title">
                                <h4>{{ post.title|title }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                {% elif forloop.counter == 4 %}
                <div class="col-md-4 cl-sm-6">
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <img class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image" />
                            <div class="content-post-title">
                                <h4>{{ post.title|title }}</h4>
                            </div>
                        </div>
                    </a>
                    {% elif forloop.counter == 5 %}
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <img class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image" />
                            <div class="content-post-title">
                                <h4>{{ post.title|title }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                {% elif forloop.counter == 6 %}
                <div class="col-md-8 cl-sm-12">
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <img class="img-featured" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image" />
                            <div class="content-post-title">
                                <h4>{{ post.title|title }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}
