{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section id="hero">
        <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item bg-setup carousel-bg-1 active" data-bs-interval="8000">
                    <div class="overlay"></div>
                    <div class="carousel-caption hero-content">
                        <h1>Travel Africa</h1>
                        <p>Whether you're a wide-eyed first-timer or a frequent visitor, Africa cannot fail to
                            win your
                            heart.</p>
                        <p>Discover the best places on the continent.</p>
                        <a href="#" class="">Explore</a>

                    </div>
                </div>
                <div class="carousel-item bg-setup carousel-bg-2" data-bs-interval="2000">
                    <div class="overlay"></div>
                    <div class="carousel-caption d-none d-md-block hero-content">
                        <h1>Travel Africa</h1>
                        <p>Whether you're a wide-eyed first-timer or a frequent visitor, Africa cannot fail to
                            win your
                            heart.</p>
                        <p>Discover the best places on the continent.</p>
                        <a href="#" class="">Explore</a>

                    </div>
                </div>
                <div class="carousel-item bg-setup carousel-bg-3" data-bs-interval="2000">
                    <div class="overlay"></div>
                    <div class="carousel-caption d-none d-md-block hero-content">
                        <h1>Travel Africa</h1>
                        <p>Whether you're a wide-eyed first-timer or a frequent visitor, Africa cannot fail to
                            win your
                            heart.</p>
                        <p>Discover the best places on the continent.</p>
                        <a href="#" class="">Explore</a>

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</main>
{% endblock content %}