<footer>
    <div class="row footer">
        <div class="col-md-7">
            <div class="footer-text">
                <h3 class="heading-underline"><i class="fa-solid fa-earth-africa africa-icon">
                    </i>Africa.</h3>
                <p>There's nowhere like it on the planet for wildlife, wild lands and rich traditions that
                    endure. Prepare to fall in love.</p>
                <p class="copyright"><i class="far fa-copyright"></i> Copyright | Travel Africa | <span
                        id="year"></span></p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="social-text">
                <h3 class="heading-underline">Follow us:</h3>
                <ul class="social">
                    <li><i class="fa-brands fa-facebook social-icon"></i>Facebook</li>
                    <li><i class="fa-brands fa-instagram social-icon"></i>Instagram</li>
                    <li><i class="fa-brands fa-twitter social-icon"></i>Twitter</li>
                </ul>
            </div>
        </div>
</footer>
<!-- Logout Modal -->
{% if user.is_authenticated %}
<div class="modal fade" id="signOutModal" tabindex="-1" aria-labelledby="Log Out" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="heading-underline">Log Out</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ user }}, are you sure you want to log out?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-secondary" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}