</div>
<!-- Footer -->
<footer class="d-flex flex-wrap justify-content-between footer">
    <div class="row w-100 py-3">
        <div class="col-6">
            <div class="footer-text">
                <h3 class="heading-underline"><i class="fa-solid fa-earth-africa africa-icon"> </i>Africa.</h3>
                <p>There's nowhere like it on the planet for wildlife, wild lands and rich traditions that endure.
                    Prepare to fall in love.</p>
                <p class="copyright"><i class="far fa-copyright"></i> Copyright | Travel Africa | <span
                        id="year"></span></p>
            </div>
        </div>
        <div class="col-6">
            <div class="social-text">
                <h3 class="heading-underline">Follow us:</h3>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Go to the Facebook Travel Africa page"><i
                                class="fa-brands fa-facebook icon me-1"></i><span>Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Go to the Instagram Travel Africa page"><i
                                class="fa-brands fa-instagram icon me-1"></i><span>Instagram</span></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                            aria-label="Go to the Twitter Travel Africa page"><i
                                class="fa-brands fa-twitter icon me-1"></i><span>Twitter</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% include 'components/logout_modal.html' %}