{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website for travelers who want to explore Africa.">
    <meta name="keywords" content="Travel, Africa, South Africa, Explore,">
    <meta name="author" content="Kerstin Weibeler">

    <!-- Page Title -->
    <title>Travel Africa | {{ title }}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://res.cloudinary.com/db0ufjm4a/image/upload/v1679240959/media/apple-touch-icon_bmyzfk.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://res.cloudinary.com/db0ufjm4a/image/upload/v1679240959/media/favicon-32x32_eow8eo.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://res.cloudinary.com/db0ufjm4a/image/upload/v1679240959/media/favicon-16x16_viilt5.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"
        media="all">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="all">
</head>